#!/bin/bash
# Note, I'm using "echo 1", because using "echo 3" is not recommended in production.
echo 1 > /proc/sys/vm/drop_caches && swapoff -a && swapon -a && printf '\n%s\n' 'RAM-cache and Swap were cleared.'
